
#container{
    width: 960px;
    height: auto;
    box-sizing: border-box;
    margin: auto;
    background-color: rgb(166, 161, 202);
}
img{
    padding-top: 30px;
}

main{
  display: flex; 
  margin-left: 80px;
  margin-bottom: 50px; 
}
#input_texto{
    width: auto;
    height: 500px;
}
.input-texto{
    margin-top: 90px;
}
.mensaje {
    position: relative;
    margin-top: 20px;
    margin: 20px;
    background-image: url("imagenes/Muñeco.png");
    background-repeat: no-repeat;
    background-position: 18px;
    background-size: 300px;
    border-radius: 10px;
    box-shadow: 10px 10px #c7c5c5;


}
.copiar{
    position: relative;
    margin-top: 20px;
    margin-left: 95px;
    border-radius: 8px ;
    padding: 10px 25px;
    display: flex;
    
}

.encriptar{
    background-color: darkblue;
    color: white;
    padding: 8px 25px;
    margin: 10px;
    border-radius: 10px;
}
.desencriptar{
    margin-left: 30px;
    padding: 8px 25px;
    margin: 10px;
    border-radius: 10px;
    
}
.informacion{
    font-size: 15px;
}
@media screen and (min-width:600px) and (max-width:1023px){
    #container{
        width: 800px;
        height: auto;
        margin: 0px;
    }
    .mensaje{
        width: 300px;
        margin-left: 0px;
    }
    #input_texto{
        width: auto;
        height: 300px;
    }
    #caja_texto{
        width: auto;
        height: auto; 
    }
    main{
        display: block;
    }
    
}
@media screen and (max-width:590px){
    #container{
        width: 80%;
    }
    main{
        margin-left: 0;
        display: block;
    }
    
    #caja_texto{
        width: auto;
        height: auto; 
     }
       
       
  
    #input_texto{
        width: 90px;
        height: 300px;
    }
    .input-texto{
        width: 220px;
        margin: 10px 40px;
    }
    .mesaje{
        width: 200px;
        margin-left: 0%;
    }
    .encriptar{
        margin-left: 40px;
    }
 }    

